/* main color  */
/* #FE5A3E */

/* color  */
/* #303030 */

a{
    text-decoration: none !important;
    color: #303030;
}

a:hover{
    color: #FE5A3E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}